body {
  margin: 0; }

.form__left-form {
  display: inline-block; }

.form__right-form {
  display: inline-block; }

img {
  float: left;
  width: 100px;
  height: 60px; }

.text-right {
  margin: 0; }
